body {
    height: 100vh;
    margin: 0px;
}

.container {
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
}

.leftContainer {
    position: relative;
}

img {
    max-height: 100vh;
}

#image {
}

.logoContainer {
    display:flex;   
    position: absolute;
    background-color: rgba(0, 0, 0, 0.37);
    height: 6rem;
    width: 100%;
    top: 30%;
    align-items: center;
    justify-content: center;
}

.logoText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.credit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    position: absolute;
    bottom: 1%;
    text-align: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.61);
}

.unsplash {
    color: rgba(255, 255, 255, 0.61);
}

.rightContainer {
    width: 100vw;
    position: relative;
}

.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    position: relative;
    top: 15%;
    margin: 2rem;
}

.formContainer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-style: solid;
    border-width: 1px;
    position: relative;
    top: 19%;
    margin-top: 2rem;
    padding: 2rem;
    width: auto;
    border-color: rgb(93, 35, 228);
}

.form {
    font-weight:lighter;
    font-size: small;
    color: rgb(93, 35, 228);
    display: flex;
}

#formLeft {
    margin-top: 1rem;
}

#formRight {
    margin-top: 1rem;
    padding-left: 6rem;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding-top: .75rem;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

#createAccount {
    position: relative;
    top: 25%;
    left: 10%;
    color: white;
    background-color: rgb(93, 35, 228);
    padding: .75rem 1.25rem;
    border-radius: .5rem;
}

.alreadyUser{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 25%;
    left: 10%;
    color: rgb(93, 35, 228);
    width: 20rem;
    margin-top: .25rem;
}

#login {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    color: rgb(93, 35, 228);
    text-decoration: none;
}